[Desktop Entry]
Type=Application
Name=ClipSnap Autostart
Comment=Starts ClipSnap in the background at login
Exec=/usr/bin/clipsnap
Icon=accessories-clipboard
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Categories=Utility;
StartupNotify=false
